<p id="notice"><%= notice %></p>

<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus>
  </header>
  <section class="main">
    <input class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <% @todos.each do |todo| %>
        <li data-id="<%= todo.id %>" class="<%= todo.completed %>">
          <div class="view">
            <input class="toggle" type="checkbox" <%= todo.completed %>>
            <label><%= todo.title %></label>
            <button class="destroy"></button>
          </div>
        </li>
      <% end %>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count"></span>
    <ul class="filters">
      <li>
        <a href="#/" class="selected">All</a>
      </li>
      <li>
        <a href="#/active">Active</a>
      </li>
      <li>
        <a href="#/completed">Completed</a>
      </li>
    </ul>
    <button class="clear-completed">Clear completed</button>
  </footer>
</section>

<script type="text/json" id="bootstrap">
  { "todos": <%= @todos.to_json %> }
</script>

<script type="text/javascript">
  $(function () {
    var div, data;
    div = $('<div></div>');
    div.html($('#bootstrap').text());
    data = JSON.parse(div.text());
    
    App.initialize(data);
  });
</script>
